@import '~bootstrap-icons/font/bootstrap-icons.css';
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

//structure
.header {
    font-size: larger;
    background: linear-gradient(45deg, rgba(111, 0, 208, 1) 35%, rgba(255, 62, 162, 1) 100%);
    font-family: 'Cairo', sans-serif,
  }
  
  .footer {
    background-color: $gray-800;
    font-family: "Ubuntu", sans-serif;
  }
  
  .body {
    font-family: 'Cairo', sans-serif;
    background:
      url(https://img.freepik.com/foto-gratis/composicion-geometrica_24972-787.jpg?w=1060&t=st=1682371989~exp=1682372589~hmac=829c93e55306dd4a13f9717887db2a6fe0447f3dd988864fbf159984e33397d4) repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
  }
  
  .body img {
    width: 100%;
    height: max-content;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
  
  //end structure
  
  //colors
  .bg-blue {
    background-color: #2A358C;
  }
  
  .bg-purple {
    background-color: #6F00D0;
  }
  
  .bg-bone {
    background-color: #ECFABD;
  }
  
  //end colors
  
  //text colors
  .title-login {
    font-family: 'Cairo', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  }
  
  .title-header {
    font-family: 'Cairo', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  }
  
  .text-king-blue {
    font-family: 'Cairo', sans-serif;
    color: #090947;
  }
  
  .text-pink {
    font-family: 'Cairo', sans-serif;
    color: #FF3EAF;
  }
  
  .text-purple {
    font-family: 'Cairo', sans-serif;
    color: #6F00D0;
  }
  
  .text-blue {
    font-family: 'Cairo', sans-serif;
    color: #2A358C;
  }
  
  .text-teal {
    font-family: 'Cairo', sans-serif;
    color: $teal-500;
  }
  
  //end text colors
  
  //buttons
  .btn-action {
    background: linear-gradient(45deg, rgba(111, 0, 208, 1) 35%, rgba(255, 62, 162, 1) 100%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.2s ease;
    color: $white;
  
    &:hover {
      background-position: left bottom;
      color: $white;
    }
  }
  
  .btn-blue {
    background-color: #2A358C;
    transition: all 0.2s ease;
    color: $white;
  
    &:hover {
      background-color: #090947;
      background-position: left bottom;
      color: white;
    }
  }
  
  .btn-purple {
    background-color: #4400ff;
    transition: all 0.2s ease;
    color: $white;
  
    &:hover {
      background-color: #410079;
      background-position: left bottom;
      color: white;
    }
  }
  
  .btn-outline-teal {
    color: $teal-700;
    background-color: transparent;
    background-image: none;
    border-color: $teal-400;
  }
  
  .btn-outline-teal:hover {
    color: white;
    background-color: $teal-500;
    border-color: $teal-500;
  }
  
  .btn-outline-pink {
    color: $gray-800;
    background-color: transparent;
    background-image: none;
    border-color: $pink-400;
  }
  
  .btn-outline-pink:hover {
    color: white;
    background-color: $pink-500;
    border-color: $pink-500;
  }
  
  .btn-outline-orange {
    color: $orange-700;
    background-color: transparent;
    background-image: none;
    border-color: $orange-400;
  }
  
  .btn-outline-orange:hover {
    color: white;
    background-color: $orange-500;
    border-color: $orange-500;
  }
  
  .btn-header {
    border-radius: 15px;
    height: min-content;
  
    &:hover {
      background-color: #410079;
    }
  }
  
  